doctype html
head
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(href="/main.css" rel="stylesheet")
	title=code
body
	="Error "
	=code
	=": "
	=text
	if code==403
		form(action="/login" method="POST")
			input(type="text" name="username" placeholder="username" autocomplete="new-password")
			br
			input(type="password" name="password" placeholder="password" autocomplete="new-password")
			br
			input(type="submit" value="Login/Logout")
	a(href=referer)="Go back"
